@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    width: 2200px;   
}

/* Sidebar */
.sidebar {
    background-color: #04aa6d;
    min-width: 17%; 
    height: 105%; 
    position: relative;
    padding: 20px 0; 
}

.logo p {
    text-align: center;
    font-weight: 700;
    font-size: 3rem; 
    color: #000000;
    position: relative;
    top: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo span {
    color: #ffffff;
}

.logo p:hover {
    transform: scale(1.1); 
}

nav ul {
    list-style: none;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    width: 100%; 
}

nav ul li a {
    width: 100%;
    text-decoration: none;
    color: #020202;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding: 10px 0; 
    margin: 20px 0;
    gap: 15px;
    transition: background-color 0.3s ease;
}

.logos {
    display: none;
}

.icon {
    width: 25px;
    height: 25px;
}

.log {
    position: relative;
    right: 8px;
}

nav ul li a:hover {
    background-color: #036e4c;
    color: #ffffff;
}

.user {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 740px;
    gap: 25px;
}

.user .profile {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border-radius: 50%;  
}

.name {
    text-align: center;
    font-size: 1.1rem;
}

.name .hi {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Main Content */
.main {    
    width: 100%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 15px;
    top: 50px; 
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;   
    transition: border-color 0.3s ease;
    cursor: pointer;
    margin: 0 20px;
}

.header h1:hover {
    border-bottom-color: #04aa6d;
}

.search {
    display: flex;
    gap: 10px;
}

.search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    min-width: 600px;
    height: 40px;
    font-size: 1rem;  
}

.add {
    font-size: 1rem;
    font-weight: 600;
    background-color: #04aa6d;
    color: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.add:hover {
    background-color: #036e4c;
}

/* Notes Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    position: relative;
    top: 30px;    
}

.card {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    border: 1px solid #a5a3a3;
    position: relative;
    min-width: 385px;
    height: 315px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
    background-color: #f0eaea;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.card .menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card .menu span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    margin: 4px 0;
}

.card p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
    position: relative;
    top: 20px;
}

.card .footer {
    display: flex; 
    position: relative;
    justify-content: space-between;
    top: 53px;     
}

.card .dot {
    width: 15px;
    height: 15px;
    background-color: #f4c542;
    border-radius: 50%;
}

.card .date {
    position: relative;
    font-size: 1rem;
    color: #aaa;
}

/* RESPONSIVE */
@media (min-width: 1900px) {
    .sidebar {
        position: relative;
        height: 1150px;
        padding: 20px 0;
        transition: width 0.3s ease; 
    }

    .logo p {
        font-weight: 700;
        font-size: 3rem; 
    }

    nav ul li a {
        font-size: 1.3rem; 
        padding: 10px 0;
    }

    nav ul li a .icon {
        font-size: 1.5rem;      
        width: 25px;
        height: 25px;
        position: relative;
        left: 5px;
    }

    .user {
        top: 590px;        
    }

    .user .profile {
        width: 65px;
        height: 65px;
        left: 7px;
    }

    .name .hi  {
        font-size: 1.5rem;
    }

    .name{
        font-size: 1.2rem;
    }

    .main {
        width: 82%;
        padding: 10px 10px;
        bottom: 35px;
        padding-top: 50px;
    }

    .header {
        width: 100%;
        top: 10px;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        transition: width 0.3s ease; 
        position: relative;
        left: 10px;
        top: 40px;
    }

    .card {
        min-width: 385px;
    }

    .card h3, .card p {
        font-size: 1rem;
    }

    .card .footer {
        top: 165px;
    }

    .search {
        position: relative;
        left: 20px;
    }

    .search input[type="text"] {
        height: 35px;
    }

    .add {
        padding: 5px 10px;
        width: 150px;
        height: 36px;
        font-size: 0.9rem;
    }
}

@media (min-width: 1301px) and (max-width: 1899px) {
    .sidebar {    
        min-width: 330px; 
        height: 1100px;
        padding: 20px 0;
        transition: width 0.3s ease; 
    }

    .logo p {
        font-weight: 700;
        font-size: 3rem; 
    }

    nav ul li a {
        font-size: 1.3rem; 
        padding: 10px 0;
    }

    nav ul li a .icon {
        font-size: 1.5rem;      
        width: 25px;
        height: 25px;
        position: relative;
        left: 5px;
    }

    .user {
        top: 520px;        
    }

    .user .profile {
        width: 65px;
        height: 65px;
        left: 10px;
    }

    .name .hi  {
        font-size: 1.6rem;
    }

    .name{
        font-size: 1.1rem;
    }

    .main {
        padding: 0px 20px;
        bottom: 25px;
    }

    .header {
        top: 10px;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        transition: width 0.3s ease; 
    }

    .card {
        min-width: 385px;
        height: 300px;
        top: 20px;    
    }

    .card h3, .card p {
        font-size: 1rem;
    }

    .card .footer {
        top: 109px;
    }

    .search input[type="text"] {
        height: 35px;
    }

    .add {
        padding: 5px 10px;
        width: 150px;
        height: 36px;
        font-size: 0.9rem;
    }
}

@media (min-width: 1041px) and (max-width: 1300px) {
    .sidebar {
        min-width: 78px;
        height: 107%;
        padding: 20px 0;
        transition: width 0.3s ease; 
    }

    .logo p {
        font-size: 0;
    }

    .log {
        left: 0;
    }

    nav ul li a {
        font-size: 0; 
        padding: 10px 0;
    }

    nav ul li a .icon {
        font-size: 1.5rem;      
        width: 25px;
        height: 25px;
        position: relative;
        left: 5px;
    }

    .logos {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        top: 15px;
        left: 10px;
        width: 45px;
        height: 45px;
    }

    .user {
        top: 875px;        
    }

    .user .profile {
        width: 40px;
        height: 40px;
    }

    .user .name {
        display: none; 
    }

    .main {
        padding: 10px 20px;
        top: 3px;
    }

    .header {
        top: 29px;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        transition: width 0.3s ease; 
    }

    .card { 
        height: 300px;
        top: 20px;    
    }

    .card h3, .card p {
        font-size: 1.1rem;
    }

    .card .footer {
        top: 130px;
    }

    .search input[type="text"] {
        min-width: 400px;
        height: 35px;
    }

    .add {
        padding: 5px 10px;
        width: 120px;
        height: 35px;
        font-size: 0.8rem;
    }
}

@media (min-width: 800px) and (max-width: 1040px) {
    .sidebar {
        min-width: 78px;        
        padding: 20px 0;
        transition: width 0.3s ease; 
    }

    .logo p {
        font-size: 0;
    }

    .log {
        left: 0;
    }

    nav ul li a {
        font-size: 0; 
        padding: 10px 0;
    }

    nav ul li a .icon {
        font-size: 1.5rem;      
        width: 25px;
        height: 25px;
        position: relative;
        left: 5px;
    }

    .logos {
        display: flex;
        position: relative;
        top: 15px;
        left: 10px;
        width: 45px;
        height: 45px;
    }

    .user {
        top: 880px;        
    }

    .user .profile {
        width: 40px;
        height: 40px;
    }

    .user .name {
        display: none; 
    }

    .main {
        padding: 10px 20px;
    }

    .header {
        top: 29px;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        transition: width 0.3s ease; 
    }

    .card {
        height: 300px;
        top: 20px;    
    }

    .card h3, .card p {
        font-size: 1rem;
    }

    .card .footer {
        top: 140px;
    }

    .search input[type="text"] {
        min-width: 400px;
        height: 35px;
    }

    .add {
        padding: 5px 10px;
        width: 120px;
        height: 35px;
        font-size: 0.8rem;
    }
}

@media (min-width: 480px) and (max-width: 799px) {
    .sidebar {
        min-width: 70px;
        height: 104%;
        padding: 20px 0;
        transition: width 0.3s ease; 
    }

    .logo p {
        font-size: 0;
    }

    .log {
        left: 0;
    }

    nav ul li a {
        font-size: 0; 
        padding: 10px 0;
    }

    nav ul li a .icon {
        font-size: 1.5rem;      
        width: 25px;
        height: 25px;
        position: relative;
        left: 5px;
    }

    .logos {
        display: flex;
        position: relative;
        top: 15px;
        left: 10px;
        width: 45px;
        height: 45px;
    }

    .user {
        top: 1500px;        
    }

    .user .profile {
        width: 40px;
        height: 40px;
    }

    .user .name {
        display: none; 
    }

    .main {
        padding: 10px 20px;
    }

    .header {
        top: 29px;
    }

    .header h1 {
        font-size: 1.3rem;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        transition: width 0.3s ease; 
    }

    .card {
        height: 300px;
        top: 20px;    
    }

    .card h3, .card p {
        font-size: 1rem;
    }

    .card .footer {
        top: 140px;
    }

    .search input[type="text"] {
        min-width: 60px;
        height: 35px;
    }

    .add {
        padding: 5px 10px;
        width: 90px;
        height: 35px;
        font-size: 0.7rem;
    }
}
